body{
    background-color: rebeccapurple;
}
#main{
    border:1px solid black;
    border-radius:  5%;
}
.hidden{
    display: none;
}
.inline-block{
    display: inline-block;
}
#images{
    display: none;
}
#menu{
    width: 800px;
}
.backgroundImage{
    width: 250px;
    height: 150px;
    border-radius: 5%;
}

svg{
    display: block;
    height: 50px;
    width : 760px;
    fill: orange;
    font-size: 50px;
}
.center{
    width:720px;
    vertical-align:middle; 
    text-align:center;
}

.select{
    border-radius: 50%;
}
.info-holder{
    width: 300px;
    color: white;
}
a{
 color: greenyellow;
}
#score{
    font-size: 30px;
    color: aqua;
}